<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(235, 249, 255);">
    <form action="/edit/<%= user.id %>" method="post" style="padding-top: 180px; padding-left: 600px;">
        <div>
            <h1 style="font-family: comic sans ms;">Edit</h1>
        </div>
        <div style="margin-bottom: 20px;"><span style="margin-right: 50px; font-family: comic sans ms;">Username : </span>
            <input type="text" name="name" value="<%= user.nama %>">
        </div>
        <div style="margin-bottom: 20px;"><span style="margin-right: 76px; font-family: comic sans ms;">Email : </span>
            <input type="text" name="email" value="<%= user.email %>">
        </div>
        <div style="margin-bottom: 20px;"><span style="margin-right: 55px; font-family: comic sans ms;">Password : </span>
            <input type="password" name="password" value="<%= user.password %>">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>

</html>