<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">
    </script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <div class="logo">Online Courses</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 50px;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fw-bold" aria-current="page" href="#home" style="color: #364f6b;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fw-bold" href="#about" style="color: #364f6b;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase fw-bold" href="#contact" style="color: #364f6b;">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    
    <!-- Home -->
    <div class="row justify-content-center" id="home">
        <div class="col-lg-6 mt-3">
            <img src="https://img.freepik.com/free-vector/code-testing-cartoon-banner-functional-test-methodology-programming-search-errors-bugs-website-platform-development-dashboard-usability-optimization-computer-pc-vector-illustration_107791-3766.jpg?w=740&t=st=1659532405~exp=1659533005~hmac=153a0ee7ad60519c26977b6bfe8d19b1c853fe659e399709bf9f4a4122080205" alt="">
        </div>
        <div class="col-lg-4" id="desc1">
            <p id="subjudul1">Belajar membuat web dengan html css</p>
            <h2 id="judul1">Join Now</h2>
            <p id="keterangan1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cumque nobis hic? Expedita reprehenderit enim illo cum, tempore vel, eum deleniti recusandae quo adipisci iste vero saepe, voluptatum velit incidunt?</p>
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="tombol-join">
                            Menu
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="/adminLogin">as Admin</a></li>
                            <li><a class="dropdown-item" href="/userLogin">as User</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Home -->

    <!-- About -->
    <div class="row justify-content-center" id="about">
        <div class="col-lg-4" id="desc2">
            <h2 id="judul1">Tentang Kelas</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sunt consequatur eligendi delectus facere nemo veniam quibusdam dicta aspernatur odit accusantium temporibus dolore cum quas ullam vitae fugit, numquam tenetur.</p> <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos facilis quos, repellendus harum quasi doloribus, laborum soluta maiores at aut, delectus beatae odio debitis sapiente cupiditate aliquam necessitatibus nemo sunt.</p>
        </div>
        <div class="col-lg-5">
            <img src="https://img.freepik.com/free-vector/tiny-people-testing-quality-assurance-software-isolated-flat-vector-illustration-cartoon-character-fixing-bugs-hardware-device-application-test-it-service-concept_74855-10172.jpg?size=626&ext=jpg&uid=R82743663&ga=GA1.2.92587443.1659532370&semt=sph" style="margin-left: 100px;">
        </div>
    </div>
    <!-- About -->

    <!-- Contact Us -->
    <div class="row justify-content-center"; id="contact">
        <div id="tentang" style="margin-left: 130px;">
            <div class="footer">
                <div class="footer-section">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta culpa facilis modi accusamus placeat natus quia ab quisquam unde vitae? Voluptates non temporibus dicta voluptate rerum quaerat provident hic fuga!</p>
                </div>
                <div class="footer-section">
                    <h3>Contact</h3>
                    <p>Hp : 08992551783</p>
                    <p>Jl. Mentaraman 27 Kepanjen, Malang</p>
                    <p>Kode Pos : 65163</p>
                </div>
                <div class="footer-section">
                    <h3>Social Media</h3>
                    <p><a href="https://www.instagram.com/ms.adnn/?hl=id" onclick="alert('Follow yaaa')">Instagram : @ms_adnnn</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us -->


    
    

</body>

</html>