<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userHome</title>
    <link rel="stylesheet" href="/userHome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">
    </script>
    
</head>

<body>    
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg " style="background-color: rgb(235, 249, 255);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="logo">Online Courses</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light">
                            <li><a class="dropdown-item" href="/userKelas">Kelas</a></li>
                            <li><a class="dropdown-item" href="/logout">Keluar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Header -->
    <div id="header" class="col-lg-12" style="padding-top: 75px;">
        <div class="box">
            <h1 id="title">Make Your Own Website</h1>
            <h3 id="subtitle">with your own skills</h3> <br>
            <p id="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veniam doloremque architecto consequatur deleniti, reiciendis tempora ipsam unde neque magni molestias sit minus veritatis illo ea cum? Veritatis, nam corporis. <br> <br> <br>
                <a href="#" class="tb-biru">View Plans</a> <br>
                <img src="img/works.png">
            </p> <br>

        </div>
    </div>
    <!-- Header -->

    <!-- <br> -->

    <!-- Section -->
    <div class="container mt-3">
        <div class="row justify-content-center" id="section1">
            <div class="col-lg-7" id="desc1">
                <p id="subjudul1"><u> Grow Your Skills </u></p>
                <p id="judul1" style="font-size: 30px; color: rgb(142, 195, 176);">Konsisten dalam belajar dan kamu akan mendapatkan hasilnya</p>
                <p id="keterangan1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cumque nobis hic? Expedita reprehenderit enim illo cum, tempore vel, eum deleniti recusandae quo adipisci iste vero saepe, voluptatum velit incidunt?</p>
            </div>
            <div class="col-lg-3 mt-3">
                <img src="img/work.png" alt="">
            </div>
        </div>
    </div>
    <!-- Section -->

    <!-- Class -->
    <!-- <div id="product">
        <h1 id="title"> <span style="color: rgb(142, 195, 176);"> Our </span> Classes</h1>
        <div class="row justify-content-center">
            <div class="container mt-3">
                <div class="row justify-content-center">
                    <div class="col-lg-3 p-2 m-2 text-center">
                        <img src="img/logoHTML.png" class="img-thumbnail" width="250" height="200">
                        <div class="text-center">
                            <strong>HTML</strong>
                            <br>
                            Lorem ipsum dolor sit amet consectetur.
                            <br>
                            <button class="btn btn-outline-info mt-2">
                                <a href="#checkout">Check Out</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 p-2 m-2 text-center">
                        <img src="img/logoCSS.png" class="img-thumbnail" width="250" height="200">
                        <div class="text-center">
                            <strong>CSS</strong>
                            <br>
                            Lorem ipsum dolor sit amet consectetur.
                            <br>
                            <button class="btn btn-outline-info mt-2">
                                <a href="#checkout">Check Out</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 p-2 m-2 text-center">
                        <img src="img/logoJS.png" class="img-thumbnail" width="250" height="200">
                        <div class="text-center">
                            <strong>JavaScript</strong>
                            <br>
                            Lorem ipsum dolor sit amet consectetur.
                            <br>
                            <button class="btn btn-outline-info mt-2">
                                <a href="#checkout">Check Out</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 p-2 m-2 text-center">
                        <img src="img/logoNode.png" class="img-thumbnail" width="250" height="200">
                        <div class="text-center">
                            <strong>NodeJS</strong>
                            <br>
                            Lorem ipsum dolor sit amet consectetur.
                            <br>
                            <button class="btn btn-outline-info mt-2">
                                <a href="#checkout">Check Out</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 p-2 m-2 text-center">
                        <img src="img/logoPHP.png" class="img-thumbnail" width="250" height="200">
                        <div class="text-center">
                            <strong>PHP</strong>
                            <br>
                            Lorem ipsum dolor sit amet consectetur.
                            <br>
                            <button class="btn btn-outline-info mt-2">
                                <a href="#checkout">Check Out</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 p-2 m-2 text-center">
                        <img src="img/logoDatabase.png" class="img-thumbnail" width="250" height="200">
                        <div class="text-center">
                            <strong>Database</strong>
                            <br>
                            Lorem ipsum dolor sit amet consectetur.
                            <br>
                            <button class="btn btn-outline-info mt-2">
                                <a href="#checkout">Check Out</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Class -->

    <!-- Paket -->
    <div>
        <div class="row justify-content-center" id="box2">
            <h1 id="title">Paket Product</h1>
            <div class="col-lg-3 m-4" id="boxPaket1">

            </div>
            <div class="col-lg-3 m-4" id="boxPaket2">
                
            </div>
        </div>
    </div>
    <!-- Paket -->

    <br>
 

</body>

</html>