<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user transaksi</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-stone-200">

    <header class="text-black p-4 shadow-lg" style="background-color: rgb(142, 195, 176);">
        <h1 class="text-center font-bold text-xl">List Courses</h1>
    </header>

    <section class="p-4 mt-4 bg-white shadow-lg">
        <h2 class="font-bold text-lg mb-4 border-b">List Item</h2>
        <div>
            <% for (item of items) { %>
                <div class="border-b mb-2 flex items-center pb-3">
                    <div class="flex-1 tracking-wide leading-none">
                        <%= item.name %>
                    </div>
                    <div class="mr-5">
                        Sisa kuota
                    </div>
                    <div
                        class="w-12 text-right mr-3 bg-green-500 text-white px-2 py-1 text-xs tracking-widest font-semibold leading-none">
                        <%= item.qty %>
                    </div>
                </div>
                <% } %>
        </div>
    </section>

    <section class="p-4 mt-4 bg-white shadow-lg">
        <h2 class="font-bold text-lg mb-4 border-b">Pembelian</h2>
        <form action="/items/transaksi" method="post">
            <div class="flex items-center">
                <select name="type" class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                    <option value="keluar">Beli</option>
                </select>
                <select name="item_id" class="w-2/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                    <% for (item of items) { %>
                        <option value="<%= item.id %>">
                            <%= item.name %>
                        </option>
                        <% } %>
                </select>
                <input type="number" name="amount" value="0"
                    class="w-1/5 w-full border px-3 py-2 text-sm mr-2 bg-white">
                <button
                    class="w-1/5 text-black px-3 py-2 border text-sm font-bold tracking-widest hover:bg-slate-600" style="background-color: rgb(142, 195, 176);">Check out now
                </button>
            </div>
        </form>
    </section>

    
    
</body>

</html>